/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */

/* universal */
h1 {
  font-size: 2.4em;
  font-weight: bold;
}

h2 {
  font-size: 2.0em;
  font-weight: bold;
}

h3 {
  font-size: 1.6em;
  font-weight: bold;
}

h4 {
  font-size: 1.4em;
  font-weight: bold;
}

h5 {
  font-size: 1.1em;
  font-weight: bold;
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 150%;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}

/* header */
.header {
  text-align: center;
  height: 7.2em;
  background-color: #888;
}

.header__title {
  padding: 1.0em 0;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}

/* global navigation */
.global-nav__link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
  height: 3.2em;
  /* flexコンテナに指定
     align-itemやjustify-itemsなどを指定するため */
  display:flex;
  /* flex項目を中央付近に配置 */
  align-items: center;
  /* コンテナのmain axisに沿ってスペースを
     コンテンツアイテムの間や周囲へどのように分配するかを定義 */
  justify-content: center;
}

.global-nav__item:nth-child(odd) .global-nav__link {
  background-color: #d5d5d5;
}

.global-nav__item:nth-child(even) .global-nav__link {
  background-color: #b5b5b5;
}

.global-nav__items {
  /* flexコンテナに指定 */
  display: flex;
}

.global-nav__item {
  /* アイテムがflexコンテナ内のスペースをどれだけ占有するかを指定 */
  flex-grow: 1;
}

/* パンくずリスト */
.bread-crumbs {
  background-color: #4c4c4c;
}

.bread-crumbs__link {
  color: #eee;
  text-decoration: none;
  font-size: 0.75em;
}

.bread-crumbs__link::before {
  content: ">";
  color: #aaa;
  margin: 10px;
}

.bread-crumbs__item:first-child .bread-crumbs__link::before {
  content: "";
  margin: 0;
}

.bread-crumbs__items {
  display: flex;
  padding: 6px 0px 8px 12px;
}

/* 広告バナー top */
.top-ads {
  background-color: #d5d5d5;
}

.top-ads__items {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.top-ads__link img {
  width: calc(916px / 3);
}

/* mainとasideのレイアウト */
.body {
  display: flex;
  flex-direction: row-reverse;
}
aside {
  width: calc(100% / 3);
  background-color: #4c4c4c;
}

main {
  background-color: #d5d5d5;
  width: calc(100% / 3 * 2);
}

/* main header - folded corner */
.main-header {
  background-color: #eee;
  height: 4.0em;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 2px rgba(0,0,0,0.3);
}

.main-header::before {
  display: block;
  content: "";
  position: absolute;
  border-bottom: 2.0em solid #b5b5b5;
  border-right: 2.0em solid transparent;
  top: 0;
  right: 0;
  box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
}

.main-header::after {
  display: block;
  content: "";
  position: absolute;
  border-top: 2.0em solid #d5d5d5;
  border-left: 2.0em solid transparent;
  top: 0;
  right: 0;
}

/* main header - ページタイトル logo */
.main-header__title {
  position: relative;
  padding-left: 60px;
}

.main-header__title::before {
  display: block;
  position: absolute;
  top: 6px;
  left: 16px;
  content: "";
  height: 10px;
  width: 10px;
  background-color: #999;
  border-right: solid 10px #444;
}

.main-header__title::after {
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
  content: "";
  height: 10px;
  width: 10px;
  background-color: #444;
  border-right: solid 10px #999;
}

/* article */
article {
  padding: 16px;
}

/* article title */
.article__title {
  padding-top: 3px;
  padding-left: 20px;
  position: relative;
}

.article__title::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 15px;
  background-color: #444;
  border-top: solid 15px #999;
}

/* article sub title */
.article__sub-title {
  padding-left: 20px;
  position: relative;
}

.article__sub-title::before {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
  width: 4px;
  height: 16px;
  background-color: #444;
}

.article__sub-title::after {
  display: block;
  position: absolute;
  top: 3px;
  left: 5px;
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid rgb(68, 68, 68);
}

/* article unorder list */
.article__unorder-list {
  list-style-type: disc;
  line-height: 150%;
}

.article__unorder-list-item {
  margin: 0.5em 1em 0.5em 1.5em;
}

/* 引用部分 */
.article__blockquote-paragraph:first-child {
  display: none;
}

.article__blockquote {
  padding-left: 36px;
  padding-top: 36px;
  margin-bottom: 32px;
  position: relative;
}

.article__blockquote::before {
  display: block;
  position: absolute;
  top: 15px;
  left: -12px;
  content: '"';
  color: white;
  font-size: 48px;
  text-align: center;
  line-height: 66px;
  width: 42px;
  height: 42px;
  background-color: #999;
  border-radius: 50%;
}

.article__blockquote::after {
  display: block;
  position: absolute;
  top: 45px;
  left: 6px;
  content: "";
  width: 6px;
  height: 200px;
  background-color: #999;
}

/* .article sub sub title */
.article__sub-sub-title {
  margin: 24px auto;
  padding-left: 32px;
  position: relative;
}

.article__sub-sub-title::before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #444;
}

.article__sub-sub-title::after {
  display: block;
  position: absolute;
  top: 0px;
  left: 10px;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #999;
  z-index: 1;
}

.form-item__actions-items {
  display: flex;
}

/* article order list */
.article__order-list {
  list-style-type: decimal;
  line-height: 150%;
}

.article__order-list-item {
  margin: 0.5em 1em 0.5em 1.5em;
}

/* form */
.form {
  background-color: #fff;
  padding: 16px;
}

/* form title */
.form__title {
  font-size: 1.4em;
  height: 1.5em;
  margin-bottom: 16px;
  padding-left: 54px;
  padding-top: 2px;
  position: relative;
  overflow: hidden;
}

.form__title::before {
  display: block;
  position: absolute;
  top: 0px;
  left: 8px;
  content: "";
  width: 32px;
  height: 1.0em;
  border: solid 2px #444;
}

.form__title::after {
  display: block;
  position: absolute;
  top: -25px;
  left: 8px;
  content: "";
  width: 32px;
  height: 32px;
  border: solid 2px #444;
  transform: rotate(45deg);
}

/* form items */
.form-item {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  margin: 2em auto;

}

.form-item__label {
  width: 200px;
  text-align: right;
  line-height: 32px;
  padding-right: 16px;
  font-weight: bold;
}

.form-item__text-input {
  display: block;
  width: 420px;
  padding: 8px 12px;
  background-color: #fff;
  background-clip: padding-box;
  border: solid 1px #ced4da;
  border-radius: 0.25em;
}

.form-item__textarea {
  padding: 12px;
  display: block;
  width: 420px;
  height: 300px;
  background-color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
}

.form-item__inline-items {
  display: flex;
}

.form-item__inline-item {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  padding: 8px 12px;
  line-height: 1.25;
  border-radius: 0.25em;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #efefef;
  margin-right: 10px;
}

.form-item__select-pull-down {
  display: block;
  width: 420px;
  border: 1px solid transparent;
  border-radius: 0.25em;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #efefef;
}

.form-item__select-list {
  display: block;
  width: 420px;
  border: 1px solid transparent;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #efefef;
}

.form-item__select-list-option {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 4px;
}

.form-item__select-list-option:first-child {
  border-top: none;
}

.form-item__file {
  padding: 6px;
  display: block;
  width: 420px;
  border: 1px solid transparent;
  border-radius: 0.25em;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #efefef;
}

.form-item__actions {
  margin-right: auto;
  margin-left: auto;
}

.form-item__action {
  display: block;
  width: 200px;
  font-size: 1.0em;
  text-align: center;
  border: 1px solid transparent;
  padding: 8px 12px;
  line-height: 1.25;
  border-radius: 0.25em;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #efefef;
}

.is-submit {
  background-color: #444;
  color: #fafafa;
}

.is-reset {
  background-color: #ccc;
  color: #333;
  margin-left: 7px;
}

/* aside */
.aside-ads {
  padding: 16px;
}

.aside-ads__item {
  margin-bottom: 10px;
}

.local-nav {
  padding-left: 16px;
  padding-right: 16px;
}

.local-nav__items {
  width: 100%;
  height: 150px;
  background-color: #a0a0a0;
  border-radius: 0.25em;
  overflow: scroll;
}

.local-nav__link {
  display: flex;
  color: #fff;
  text-decoration: none;
  align-items: center;
  padding-left: 16px;
  height: 2.4em;
  border-top: 3px solid #4c4c4c;
}

.local-nav__item:first-child .local-nav__link {
  border-top: none;
}

/* boxの高さ、幅に border-width と padding を含める */
* {
  box-sizing: border-box;
}

body {
  color: #444;
  background-color: #aaa;
}

/* 全体を真ん中に配置 */
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #666;
  box-shadow: rgba(0, 0, 0, .4) 0 0 8px;
  overflow: hidden; /*floatを使った場合の対策*/
}
