/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* ここにCSSを書いてデザインを入れよう */

/* universal */
h1 {
  font-size: 2.4em;
}

/* header */
.header {
  text-align: center;
  height: 7.2em;
  background-color: #888;
}

.header__title {
  padding: 1.0em 0;
  color: #333;
  font-weight: bold;
}

/* global navigation */
.global-nav__link {
  color: #333;
  text-decoration: none;
  height: 3.2em;
  /* flexコンテナに指定
     align-itemやjustify-itemsなどを指定するため */
  display:flex;
  /* flex項目を中央付近に配置 */
  align-items: center;
  /* コンテナーのmain axisに沿ってスペースを
     コンテンツアイテムの間や周囲へどのように分配するかを定義 */
  justify-content: center;
}

.global-nav__item:nth-child(odd) .global-nav__link {
  background-color: #D5D5D5;
}

.global-nav__item:nth-child(even) .global-nav__link {
  background-color: #B5B5B5;
}

.global-nav__items {
  /* flexコンテナに指定 */
  display: flex;
}

.global-nav__item {
  /* アイテムがflexコンテナ内のスペースをどれだけ占有するかを指定 */
  flex-grow: 1;
}

/* パンくずリスト */
.bread-crumbs {
  background-color: #4C4C4C;
}

.bread-crumbs__link {
  color: white;
  text-decoration: none;
  font-size: 0.75em;
}

.bread-crumbs__link:before {
  content: ">";
  color: #aaa;
  margin: 10px;
}

.bread-crumbs__item:first-child .bread-crumbs__link:before {
  content: "";
  margin: 0;
}

.bread-crumbs__items {
  display: flex;
  padding: 6px 0px 8px 12px;
}

/* top ads */
.top-ads {
  background-color: #D5D5D5;
}

.top-ads__items {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.top-ads__link img {
  width: calc(916px / 3);
}

/* boxの高さ、幅に border-width と padding を含める */
* {
  box-sizing: border-box;
}

body {
  color: #444;
  background-color: #aaa;
}

/* 全体を真ん中に配置 */
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #666;
  box-shadow: rgba(0, 0, 0, .4) 0 0 8px;
  overflow: hidden; /*floatを使った場合の対策*/
}
